// Home -> Regras específicas da Home.

body {
  background-color: $secondary;
}

// Header
header {
	background-image: url("https://res.cloudinary.com/tesseract/image/upload/v1550613608/abenepi-2019/roda-criancas.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin-top: 61px;

  .logo-header {
    display: flex;

    img {
      width: 100%;
      margin: auto;
      @include media-breakpoint-down(md)  {
        display: none;
      }
    }
  }

  .box-header {
    color: white;
    width: 100%;

    p {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 5.2rem;
    }

    div {
      width: 35rem;
      background-color: rgba($primary, .9);
      padding: 3rem 1rem;
      margin: 5rem auto;
      text-align: center;

      img {
        display: none;
      }

      @include media-breakpoint-down(md)  {
        margin: 3rem 0;
        width: 100%;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.2rem;
        }

        img {
          display: block;
          width: 100%;
          padding: 0 2rem;
        }
      }

      .linha-header {
        display: block;
        margin: 0 auto;
        width: 40%;
        border-top: 1px solid white;
      }
    }
  }
}

.programacao {
  padding-top: 4rem;
  //padding-bottom: 2rem;

  h1, h2, h3 {
    color: $primary;
  }

  .palestra {
    padding-left: 2rem;
    border-left: 2px solid $primary;
    margin-bottom: 3rem;
    h2 {
      font-family: $font-horario;
    }
    p {
      color: $primary;
    }
  }
}

.apresentacao {
  padding-top: 4rem;
  //padding-bottom: 2rem;

  h1, h2, h3 {
    color: $primary;
  }

  .palestra {
    padding-left: 2rem;
    border-left: 2px solid $primary;
    margin-bottom: 3rem;
    h2 {
      font-family: $font-horario;
    }
    p {
      color: $primary;
    }
  }
}

.enviotrabalhos {
  padding-top: 4rem;
  //padding-bottom: 2rem;

  h1, h2, h3 {
    color: $primary;
  }

  .palestra {
    padding-left: 2rem;
    border-left: 2px solid $primary;
    margin-bottom: 3rem;
    h2 {
      font-family: $font-horario;
    }
    p {
      color: $primary;
    }
  }
}

.apoio {
	h1 {
    color: $primary;
  }

  .logo {
    height: 100%;
    width: 100%;
    // display: flex;
    @include media-breakpoint-down(md) { display: block }

    img {
      width: 100%;
      margin: 0 auto;
      @include media-breakpoint-down(md) { margin: 0 auto 2rem }
      display: block;
    }

    .tesseract {
      width: initial;
      height: 150px;
    }
  }
}

.formulario {
	h1, h5, span {
    color: $primary;
  }

  ul {
  	padding-left: 20px;
  }

  input, select {
  	border-color: $primary;
  }

  button {
  	background-color: $primary;
  	color: white;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 32px;
      @include media-breakpoint-up(lg) { padding-top: 4px }
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 26px;
      height: 26px;
      border: 2px solid #666;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 16px;
      height: 16px;
      background: #83232F;
      position: absolute;
      top: 7px;
      left: 5px;
      border-radius: 100%;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
  }
}

.infraestrutura {
  h1 {
    color: $primary;
  }

  @include media-breakpoint-down(md) {
    p {
      &:first-child {
        margin-top: 1rem;
      }
    }
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  span {
    color: $primary;
    font-weight: bold;
  }

  button {
    display: block;
    margin: 2rem auto 0;
  }

  #map {
    height: 300px;
    width: 100%;
    border: 2px solid $primary;
    border-radius: 10px;
  }
}

footer {
  height: 150px;
  width: 100%;
  position: relative;
  background-image: url("https://res.cloudinary.com/tesseract/image/upload/v1550613607/abenepi-2019/desenho-footer.jpg");
  background-repeat: repeat;
  background-position: left;
  background-size: contain;
  @include media-breakpoint-down(md) {
    background-size: cover;
  }

  div {
    position: absolute;
    height: 600px;
    width: 295px;
    @include media-breakpoint-down(md) {
      height: 200px;
      width: 98px;
    }
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .crianca-esquerda {    
    left: 0px;
    background-image: url("https://res.cloudinary.com/tesseract/image/upload/v1550613610/abenepi-2019/crianca-esquerda.png");
    background-position: left;
  }

  .crianca-direita {    
    right: 0px;
    background-image: url("https://res.cloudinary.com/tesseract/image/upload/v1550613608/abenepi-2019/crianca-direita.png");
    background-position: right;
  }
}

.palestrantes {
  margin-top: 8rem;

  .foto-box {
    margin: 2rem auto;

    div {
      margin: 0 auto;
      width: 300px;
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        border: 3px solid $primary;
        border-radius: 5px;
      }

      h3 {
        margin: 1rem auto;
      }
    }
  }
}
